.header {
  z-index: 99;
  background-color: $yellow;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1.5rem 1rem;
  height: 90px;
  @include touch {
    height: 60px;
  }
  .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
    }
    .logo {
      @include touch {
        height: 40px;
      }
    }
    .cart-action {
      left: 80%;
      position: absolute;
      display: flex;
      align-items: center;
      gap: 1rem;
      @include touch {
        position: relative;
        left: unset;
      }
      cursor: pointer;
      .cart-icon {
        position: relative;
        .blue-dot {
          position: absolute;
          height: 13px;
          width: 13px;
          background-color: #00aae4;
          border-radius: 50%;
          display: inline-block;
          top: -1px;
          right: -1px;
        }
      }
      p {
        font-weight: 700;
        font-size: 15px;
        line-height: 125%;
        color: #0d0d0d;
      }
    }
  }
}
