.checkout-modal {
  z-index: 999;
  .modal-background {
    background: #1d1d1b;
    opacity: 0.75;
  }
  .modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 82px 90px 100px;

    p.head {
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #000000;
    }
    p.sub {
      padding-right: 40%;
      font-weight: 600;
      font-size: 15px;
      line-height: 125%;
      color: #7f7f7f;
      margin-bottom: 40px;
    }
    .close {
      position: absolute;
      top: 82px;
      right: 90px;
      cursor: pointer;
    }
    form {
      .control {
        display: flex;
        flex-direction: column;
        ._label {
          font-weight: 700;
          font-size: 15px;
          line-height: 125%;
          color: #1d1d1b;
          &__error {
            text-align: right;
            color: red;
          }
        }
        input {
          border: none;
          border-bottom: 2px solid #7f7f7f;
          padding: 14px 0;
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: #1d1d1b;
          &::-webkit-input-placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #7f7f7f;
          }
          &::-moz-placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            color: #7f7f7f;
          }
          &:-ms-input-placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            color: #7f7f7f;
          }
          &::-ms-input-placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            color: #7f7f7f;
          }
          &::placeholder {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            color: #7f7f7f;
          }
        }
      }
      input.submit-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffc80c;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        text-align: center;
        color: #1d1d1b;
        padding: 1rem 3rem;
      }
      .Dropdown-control {
        border: none;
        border-bottom: 2px solid #7f7f7f;
        padding: 15px 0;
      }
      .Select-control {
        border: none;
        border-bottom: 2px solid #7f7f7f;
        padding: 16px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #1d1d1b;
      }
      .Dropdown-placeholder {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #1d1d1b;
      }
      .Dropdown-arrow {
        top: 50%;
        transform: translateY(-50%);
      }
      .checkbox_label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .checkbox_label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #fff;
        border: 1px solid #7f7f7f;
        border-radius: 0.5em;
      }
      .checkbox_label:hover input ~ .checkmark {
        background-color: #ccc;
      }
      .checkbox_label input:checked ~ .checkmark {
        background-color: #2196F3;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .checkbox_label input:checked ~ .checkmark:after {
        display: block;
      }
      .checkbox_label .checkmark:after {
        left: 7px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}
