.sidebar.home {
  padding-left: 25px;

  p.small {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 125%;
    color: #7f7f7f;
    padding-top: 50px;
  }
  .filters-list {
    .filter-single {
      cursor: pointer;
      margin-bottom: 20px;
      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-right: 0.7rem;
        img {
        }
      }

      p {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 23px;
        line-height: 125%;
        color: #1d1d1b;
      }
      &.selected {
        p {
          color: #0097cc;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          border-bottom: 2px solid #0097cc;
        }
        img {
          -webkit-filter: invert(40%) sepia(96%) saturate(2592%)
            hue-rotate(169deg) brightness(96%) contrast(101%);
          filter: invert(40%) sepia(96%) saturate(2592%) hue-rotate(169deg)
            brightness(96%) contrast(101%);
        }
      }
    }
  }
  .filters-dropdown {
    .Dropdown-control {
      border: none;
    }
    .Dropdown-placeholder,
    .Dropdown-option {
      font-weight: 700;
      font-size: 18.4px;
      line-height: 125%;
      color: #0097cc;
      text-transform: capitalize;
      margin-left: 1rem;
    }
    .Dropdown-arrow {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-color: #0097cc transparent transparent;
    }
    &.is-open {
      .Dropdown-arrow {
        border-color: transparent transparent #0097cc;
      }
    }
  }
}
